name: "E2E Deployment testing workflow"
on:
  push:
    branches: [main]
jobs:
  e2e-executions:
    runs-on:
      group: linux-x64
    
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: linux-x64
            runner_os: linux
          - runner: linux-arm64
            runner_os: linux
          - runner: macos-arm64
            runner_os: mac
          - runner: macos-x64
            runner_os: mac
          - runner: windows-x64
            runner_os: Windows
    steps:
      - name: Set up Java 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
      
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -qqy jq unzip curl
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip -q awscliv2.zip
          sudo ./aws/install
          aws --version
      
      - name: Download e2e artifacts
        run: |
          aws s3 cp --recursive s3://e2e-integrations-test/e2e-artifacts/integrations/yml-data integrations/yml-data --no-progress
          aws s3 cp s3://e2e-integrations-test/e2e-artifacts/test-integrations-0.0.1-SNAPSHOT.jar test-integrations-0.0.1-SNAPSHOT.jar --no-progress
          ls -al
          
      - name: Extract secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            QA_GITHUB_TOKEN
          parse-json-secrets: true
      
      - name: Run e2e tests for ${{ matrix.platform.runner }}
        env:
          JAR_NAME: test-integrations-0.0.1-SNAPSHOT.jar
          XML_PATH: com/synopsys/test/integrations/cases/suites/deployment/testng-scm-deployment.xml
        run: |
          if [[ $GITHUB_EVENT_NAME == 'push' ]]; then
            echo "github.action.version=${GITHUB_REF#refs/heads/}" >> /tmp/test.properties
          else
            echo "github.action.version=$GITHUB_HEAD_REF" >> /tmp/test.properties
          fi
          
          cat >> /tmp/test.properties << EOF
          product=integrations
          product.name=integrations
          scm=github
          runner=${{ matrix.platform.runner }}
          runner.os=${{ matrix.platform.runner_os }}
          pipeline=true
          cloud.storage=S3
          github.token=${{ env.QA_GITHUB_TOKEN_QA_GITHUB_TOKEN }}
          github.type=blackduck
          EOF
          
          chmod 755 $JAR_NAME
          pwd && ls -la
          cat /tmp/test.properties
          
          java -enableassertions \
            -DPropertyManager.file=/tmp/test.properties \
            -jar $JAR_NAME \
            -testjar $JAR_NAME \
            -xmlpathinjar $XML_PATH
      
      - name: Archive results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-output-${{ matrix.platform.runner }}
          path: test-output 

